* {
    
}

button {
    width: 10em;
    height: 10em;
    padding: 20px;
    border: 1px solid rgb(203, 203, 203);
    margin: 10px;
    transition: all 0.4s;
    border-radius: 5px;
    white-space: normal;
    word-wrap: break-word;
}

#button-container {
    display: flex;
    align-items: center;
}

#changeBtn:hover {
    background-color: green;
    color: white;
    transform: scale(1.05);
}

#compColor:hover {
    background-color: yellow;
    color: black;
    transform: scale(1.05);
}

#resetBtn:hover {
    background-color: red;
    color: white;
    transform: scale(1.05);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header p {
    width: 75vw;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-container {
    margin-bottom: 20px;
}

#colorContainer {
    height: 50vh;
    width: 75vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    border-radius: 5px;
}

#compContainer {
    height: 25vh;
    width: 75vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    border-radius: 5px;
    margin: 20px 0px;
}


#colorContainer h4 {
    position: absolute;
    top: 10px;
    left: 20px;
}

